body{
    
    
   background-color:burlywood; 
   
   h1{text-align: center;}
    
    h2{
    display: flex;
    color: rgb(0, 0, 0);
    margin-right: 70px;}
    
    #IMG1{text-align: center;}





    #IMG2{
    width: 160px;
    height: 170px;
    }
    
    
    #IMG3{
    width: 160px;
    height: 170px;
    }
    
    
    #IMG4{
    width: 160px;
    height: 170px;
    }
    
    
    #IMG5{
    width: 160px;
    height: 170px;
    } 







        
    
    
        }
     
        header{text-align: center;
        color: color-mix(in srgb-linear, color burlywood, color red);
    height: auto;
    width: auto;}





