h1{color: azure;
text-align: center;

}

h3{color: azure;
    text-align: center;

}
body{ 
background-color: black;

}
#IMG1{
width: 03;
height: 99;
margin-left: ;
max-resolution: ;
margin-right: ;
margin-bottom: ;
margin-bottom: ;
}