head{background-color: blueviolet;}


body{     text-align: center;
  background-color:rgb(135, 222, 174); 
  

   
   h2{
   display: flex;
   color: rgb(255, 255, 255);
   text-align: center;}
       
    
   
  #IMG1{
    width: 170px;
   height: 210px;}



   #IMG2{
   width: 170px;
   height: 210px;
   }
   
   
   #IMG3{
   width: 170px;
   height: 210px;
   }
   
   
   #IMG4{
   width: 170px;
   height: 210px;
   }
   
   
   #IMG5{
   width: 170px;
   height: 210px;
   } 
}
    
 .container{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

 }






